@media only screen and (min-width:32.5em) {
  img{
    float: right;
    width: 240px;
    height: 240px;
  }
  h1 {
    font-size: 35px;
  }
  footer,header {
    font-size: 20px;
  }
  h2 {
    font-size: 25px;
  }
}