       
    body {
                background-color: black;
                color:yellow;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 18px;
                box-sizing: border-box;    
            }

    main {
        height: auto;
    }

        img {
            width: 180px;
            height: 180px;
            margin: 2px; 
            border-radius: 2px;
        }

        a{
            color: yellowgreen;
            text-decoration: none;
        }

        header h1{
            font-size: 25px;
            font-family: 'Times New Roman', Times, serif;
        }

        h2 {
          font-size: 20px;
          font-family: 'Times New Roman', Times, serif;
        }

        header, footer {
            background-color: gold;
            color:black;
            font-size:15px ;    
        }

        footer a{
            color: black;
            text-decoration: underline;
            font-weight: bolder;
        }
        footer{
            line-height: 15px;
            font-weight: bold;
            display: block;

        }
        
        .p1 {
            text-align: center;
            margin: 0px;
            padding: 2px;
          }
          #time {
            text-align: center;
            margin: 0px;
            padding: 2px;
          }