header {
    display: flex;
    justify-content: center;
    background-color: rgb(135, 206,235);
}
body {
    padding: 0px;
    margin: 0;
    background-color: #EFF0EE;
}


main nav ul li a {
    text-decoration: none;
    font-size: x-large;
    color: yellow;  
}

main nav ul li a:hover {
    text-decoration: underline;
    color: #fff;
}

main nav   {
    width: 100%;
    flex: 2 2 auto;
    background-color: black;
}

main {
    margin: 0 auto;
    width: 80%;
    background-color: #EFF0EE;
    
    }
p {
    font-size:18px;
    font-family: Arial, Helvetica, sans-serif;
}
main nav ul {
    background-color: black;
    display: flex;
    gap: 20px;
    justify-content: space-around;
    }

.target-audience {
    width: 60%; 
}

.first-persona {
    width: 35%;
    border: 1px outset;
    justify-items: start;
}

.second-persona {
    flex: 1 1 auto;
    line-height: 11px;
    width: 35%;
    border: 1px outset  ;
    padding: 0;
    margin: 0;
}

.personas {
    display: flex;
    column-gap: 20px;
}

.scenarios {
    display: block;
    
}

footer {
    margin: 0;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 4px;
    font-size: 20px;
    background-color: rgb(135, 206, 235);
 
}
