div.grid-list-views {
    display: grid;
    grid-template-columns: repeat(autofit, minmax(100px, 1fr) );
    grid-template-rows: 1fr 1fr;
    background-color: black;
    color: white;
    
}


div img {
    margin:10px;
    max-width: 400px;
    max-width: 400px;
}
