div.grid-list-views {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr) );
    grid-template-rows: 1fr 1fr;
    
}
section {
    
    padding: 10px;
    box-shadow: 3px 3px 3px 3px;
    margin: 10px;
   
}


section img {
    max-width: 80%;
    padding:10px;
   
}
