.grid-list-views {
    display: grid;
    grid-template-columns: repeat(autofit, minmax(100px, 1fr) );
    background-color: black;
    color: white;
    object-fit: cover;
    gap: 40px;

}



img {
    max-width: 90%;
    height: 70%;
}
