/* 64em is also 1028px when basefont is 16px */
@media only screen and (min-width: 64rem) {

  .clearfix::after {
    content: "";
    display: table;
    clear: both;
  }


  body, main{
  padding: 0px;
  margin: 0px;
  background-color: #EFF0EE ;
}


html {
  margin: 5px;
}

p {
  font-size: 15px;
}

h1 {
  font-size: 45px;
}

.note {
  margin: 5px;
  flex-direction: column;
  line-height: 1.5px;
  padding: 5px;
  align-items: center;
}

header {
  padding: 5px;
  margin: 0px;
  display: flex;
  
  background-color: rgb(135, 206, 235);
}

main nav {
  padding: 5px;
  margin-bottom: 20px;
}

main nav .togglemenu {
  display: flex;
  flex: 1 1 auto;
  background-color: black;
  height: 50px;
  padding: 0px;
  margin: 0px;
  align-items: center;
}

.motto {
  margin-left: 12px;
}

header img {
  margin: 2px;
  padding: 2px;
  width: 100px;
  height: 100px;
}


.togglemenu li {
  list-style: none;
}

main .togglemenu  li:first-child {
  display: none;
}

.togglemenu li a {
  padding: 5px;
  font-size: 18px;
  color: #ffea5e;
  text-decoration: none;
}

.togglemenu li a:hover {
  color: yellow;
  text-decoration: overline;
}

footer {
  background-color:rgb(135, 206, 235);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  padding: 5px;
  margin-top: 20px;
}

.placeholder {
  width: 650px;
  height: 100px;
}
.hold {
  margin: 10px;
  padding: 10px;
}

.spand1 {
  /* text-align-last: right; */
  width: 80px;

}
.span2 {
  float: right;
  color: #ffea5a;
  width: 80px;
}
.wesummary {
  flex: 1 1 auto;
  width: 200px;
  height: 160px;
  line-height: 8px;
  background-color: #ffea5e;
  position: absolute;
  top: 15px;
  left: 20px; 
  margin: 0px;
  padding: 10px;
}

.wesummary h3 {
  text-align: center;
}

.banner {
  margin: 0 auto;
  position: relative;
}

.picture {
  margin: 0 auto;
  width: 70%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.picture picture{
  width: fit-content;
  /* height: 400px; */
}

fieldset {
  border-radius: 10px;
  padding: 10px;

}

form {
  
  width: 50%;
  margin: 10px;
  padding: 10px;
}

}