/* 64em is also 1028px when basefont is 16px */
@media only screen and (min-width: 64rem) {

  .clearfix::after {
    content: "";
    display: table;
    clear: both;
  }


  body, main{
  padding: 0px;
  margin: 0px;
  background-color: #EFF0EE ;
}


p {
  font-size: 15px;
}

h1 {
  font-size: 45px;
}

.note {
  margin: 5px;
  flex-direction: column;
  line-height: 1.5px;
  padding: 5px;
  align-items: center;
}

header {
  padding: 0px;
  margin: 0px;
  display: flex;
  
  background-color: rgb(135, 206, 235);
}




.banner {
  margin: 0 auto;
  position: relative;
}


fieldset {
  border-radius: 10px;
  padding: 10px;

}

form {
  
  width: 50%;
  margin: 10px;
  padding: 10px;
}

}