@media only screen and (min-width: 64rem) {
   
   
    h1 {
        font-size: 35px;
    }
    
    body {
        display: flex;
        flex-direction: column;
        flex: 1 1 100%;
        padding: 0px;
        margin: 0px;
       
    }
    
    header {
        position: static;
    }
    
    header.site-name {
        margin-left: 20px;
        align-self: end;
        justify-self: start;
        grid-column: 2/2;
        line-height: 10px;
        column-gap: 0px;
    }
    
      
    .banner img {
        object-fit: cover;
        line-height: 10px;
        padding: 0px;
    }
    
    .banner {
        margin: 0px;
    }
    
        
        header button {
            display: none;
        }
    
        
       
    
        main {
            margin-top: 0px;
        }
        
        main nav .menu {
            display: flex;
        }

        main nav {
            position: sticky;
            top: 0px;
            left: 0px;
        }

        main nav ul {
            position: sticky;
            display: flex;
            justify-content: center;
            margin: 0px;
            padding: 0px;
            background-color: #463252;
            border-top: 2px solid gold;
           
        }
        
    
        main nav ul li {
            margin:0px;
            padding: 15px;
        }
        
        main nav ul li a {
            text-decoration: none;
            font-size: 20px;
            color: white;
            padding: 10px;
        }
        
        main nav ul li:hover  {
           border: none;
        }
        
        
        main nav ul li a:hover { 
            color: yellow;
        }
        
        
        
        main .grid {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
            margin: 0 auto;
            justify-items: start;
            align-items: end;
            column-gap: 50px;
            width: 70%;
            
    
        }
        
        .join-button {
            display: none;
        }
    
       #map {
           display: block;
           display: grid;
           grid-column: 3;
           grid-row: 1;
       }
       
        .join-button {
            display: none;
        }
    
        
        footer .spans {
            column-gap: 40px;
            flex-direction: row;
            justify-self: center;
        }
        
    }