/* 64em is also 1028px when basefont is 16px */
@media only screen and (min-width: 64rem) {
body {
  margin: 0;
  padding: 0;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

.note {
  /* display: flex; */
  margin: 0 auto;
  flex-direction: column;
  line-height: 1.5px;
  align-items: center;
  padding: 5px;
}

header {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  background-color: rgba(135, 206, 124, 0.2);
}

nav ul {
  display: flex;
  flex: 1 1 auto;
  justify-content: space-around;
  background-color: black;
  height: 50px;
  padding: 0px;
  margin: 0px;
  align-items: center;

}

.motto {
  margin-left: 12px;
}

img {
  margin: 2px;
  padding: 2px;
  width: 100px;
  height: 100px;
}

nav ul li {
  list-style: none;
  align-content: flex-end;
}
nav ul li a {
  font-size: 18px;
  color: yellowgreen;
  text-decoration: none;

}
nav ul li a:hover {
  color: yellow;
  text-decoration: overline;
}

button {
  display: none;
}




} /*end large */