
/* 35em is also 560px when basefont is 16px */
@media only screen and (min-width: 35rem) {

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

body, main {
  background-color: #EFF0EE;
}

p {
  font-size: 18px;
  font-family: "Merriweather", "Arimo", serif;
}

h1 {
  font-size: 35px;
}

header {
  display: flex;
  flex-direction: column;
  background-color: rgb(135, 206, 235);
}

/* site name and slogan  */
.note {
  display: block;
  line-height: 1.5px;
  margin: 5px;
  padding: 5px;

}

/* logo container */
.motto{
  margin: 5px;
  padding: 5px;
}

/* contains the site logo, name, and slogan */
.logo-slogan{
  display: flex;
  flex-direction: row;
}

header img {
    margin: 2px;
    padding: 2px;
    width: 100px;
    height: 100px;
  }

/* Upper most block that displays ads once it is Fridy */
.head-div {
  height: 100px;
  padding: 5px;
  margin: 0px;
  background-color: red;
}

/* hide the hamburger button for the small 
screen view or mobile vie */
.nicely {
  display: none;
}
 
main nav {
    background-color: black;
    flex-wrap: nowrap;


  }

main nav .togglemenu {
  display: flex;
  
  margin: 0px;
  padding: 5px;
  justify-content: space-around;
} 

main .togglemenu  li {
  display: flex;
  flex: 1 1 auto;
  padding: 10px;
  margin: 0px;
  list-style: none;
}

main .togglemenu  li:first-child {
  display: none;
}

main nav .togglemenu li a {
  color: #ffea5e;
  text-decoration: none;
}

footer {
  background-color: rgb(135, 206, 235);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  padding: 5px;
  margin: 5px;
}

.placeholder {
  display: flex;
  text-align: center;
  margin: 0 auto;
  width: 550px;
  height: 100px;
  flex-wrap: nowrap;
}

.span21 {
  float: right;
  width: 80px;
  color: black;

}
/* weather summmar paragraphs */
.span22 {
  float: right;
  color: black;
  width: 80px;
}
.span23 {
  float: right;
  color:black;
  width: 80px;
}
.span24 {
  float: right;
  color: black;
  width: 80px;
}
.span25 {
  float: right;
  color: black;
  width: 80px;
}

/* weather summary container */
.wesummary {
  width: 200px;
  height: 160px;
  line-height: 8px;
  background-color: #ffea5e;
  position: absolute;
  top: 15px;
  left: 5px;
  margin: 0px;
  padding: 5px;
}


.wesummary h3 {
  /* border-top: 2px solid black; */
  text-align: center;
}

/* the hero image container */
.banner {
  display: flex;
  justify-content: center;
  position: relative;
  width: fit-content;
  height: 100%;

}

 



.five-forcast{
  margin-bottom:10px;
  padding: 10px;
  margin: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  flex-wrap: nowrap;
}

/* 5-day weather forcast container */
.five-day-weather {
  display: flex;
  justify-content: space-evenly;
  margin-left: 5px;
  padding: 5px;
}

picture {
  width: 100%;
  margin: 0px;
  padding: 5px;

}

picture img {
  width: 100%;
}

}








