/* 64em is also 1028px when basefont is 16px */
@media only screen and (min-width: 64rem) {

  .clearfix::after {
    content: "";
    display: table;
    clear: both;
  }


  body, main{
  padding: 0px;
  margin: 0px;
  background-color: #EFF0EE ;
}




p {
  font-size: 15px;
}

h1 {
  font-size: 45px;
}

.note {
  margin: 5px;
  flex-direction: column;
  line-height: 1.5px;
  padding: 5px;
  align-items: center;
}
.note h3 {
  font-size: 30px;
}

header {
  padding: 0px;
  margin: 0px;
  display: flex;
  
  background-color: rgb(135, 206, 235);
}

main nav {
  margin-bottom: 0px;
}


.motto {
  margin-left: 12px;
}

header img {
  margin: 2px;
  padding: 2px;
  width: 100px;
  height: 100px;
}


nav ul li {
  list-style: none;
  
}

main nav button:first-child {
  display: none;
}

.hold {
  margin: 10px;
  padding: 10px;
}


.banner {
  position: relative;
}

.cities {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2px;
}

.city1 {
  grid-column: 1/1;
}

.city2{
  grid-column: 2/2;
}

.city3 {
  grid-column: 3/3;
}

}