
.clearfix::after {
    content: "";
    display: table;
    clear: both;
  }

body {
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
   
}


h1 {
    font-size: 20px;
    font-family: "alike", "lustria", serif;
}

p {
    font-size: 17px;
    font-family: "Arimo","Nunito","Roboto","Hind",sans-serif;
}

h3 {
    font-family: "heebo", "merriweather", sans-serif;
}

.header-social-network{
    display: none;
}




header {
    background-color: #463252;
    color: white;
    display: flex; 
    justify-content: space-around;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    max-height: 100%;
    margin: 0px;  
    
}

header .logo img{
    width: 100px;
    height: 100px;
}

header .logo {
    
margin: 0 auto;
margin-right:0px;
}

header .site-name {
    padding: 5px;
    grid-column: 2/2;
    margin-left: 10px;
    column-gap: 0px;
    align-self: end;
}

header button {
    font-size: 22px;
    color: white;
    padding: 10px;
    border: none;
    background-color: transparent;
    margin-left: 30px;
    margin-right: 5px;

    
}

main nav .toggle {
    display: block;
}

main nav .menu {
    display: none;
}

nav {
    color: white;
}

main nav ul {
    background-color: #463252;
    width: 100%;
    position: fixed;
    left: 0px;
    top: 104px;
    text-align: left;
    margin: 0px;
    padding: 10px;


}

main {
    background-color: #a6f5f3;
    margin-top: 95px;
}

main nav ul li {
    list-style:none ;
    margin:0px;
    padding: 15px;
   
}

main nav ul li a {
    text-decoration: none;
    font-size: 20px;
    color: white;
}

main nav ul li:hover  {
    background-color: black;
    border-top: 1px solid gold;
    border-bottom: 1px solid gold;
}

main nav ul li:hover a { 
    background-color: black;
    color: yellow;
}

.social-network {
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 30px;


}

.social-network img {
    width: 30px;
    height: 30px;

}

.banner img {
    max-width: 100%;
}

.banner {
    margin-top: 4px;
}

.join-button a{
    cursor: pointer;
    width: 200px;
    height: 50px;
    padding: 10px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    background-color: gold;
    font-size: 20px;

}

.join-button {
    margin-top: 15px;
    margin-left:5px
}



.active {
    background-color: #14a8a4;
    color: gold;
}

picture {
    width: 60%;
}

picture img {
    width: 70%;
    height:70%;
    
}

picture figcaption {
    font-family: "Arimo","Nunito","Roboto","Hind",sans-serif;
}

img {
    width: 100%;
}



.purpose-wrapper {
    margin-top: 50px;
    max-width: 80%;
    padding: 10px;
    /* background-color: #14a8a4; */
}

.weather-wrapper {
    margin: 5px;
    padding: 10px;
    background-color: red;
}

.forecast-big-wrapper {
    display: block;
    margin: 5px;
    padding: 10px;
}

.forecast-sm-wrapper {
    display: flex;
}

.upcoming-events {
    margin: 5px;
    padding: 10px;
}
.local-companies {
    max-width: 90%;
    margin-left: 10px;
    margin-bottom: 10px;

}
.forecast-wrapper1,.forecast-wrapper2, .forecast-wrapper3 {
    margin-left: 15px;
    text-align: center;
    background-color: #14a8a4;
    padding: 20px;
}


footer {
    background-color: #463252;
    color: white;
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(80px,1fr));
    grid-template-rows: 1fr 1fr;
    justify-items: end;
    align-items: end;
}

.footer-logo img {
    width: 80px;
    height: 80px;
    margin-left: 0px;
   
}

 footer .footer-logo {
    grid-row: 2/2;
    grid-column: 1/1;
    align-self: end;
    justify-self: end;
    margin-right: 0px;
}

footer .spans {
    display: flex;
    flex: 1 1 100%;
    flex-direction: column;
    grid-column: span 5;
    grid-row: 1/1;
    align-self: end;
    justify-self: start;
    margin-left: 5px;
}

footer .social-network {
    display: flex;
    grid-column: 4/4;
    grid-row: 2/2;
    justify-self: start;
    align-self: end;
}

footer .social-network img {
    margin: 0px;
}

footer .copy {
    grid-row: 2/2;
    grid-column: 2/4;
    justify-self: start;
    margin-left: 20px;
    padding: 5px;
}

#esc {
    text-align: center;
}



 @media only screen and (max-width:345px) {
    
    footer .social-network {
        display: flex;
        flex-direction: column;
    }

}