@media only screen and (min-width: 64rem) {
   
   
    h1 {
        font-size: 35px;
    }
    
    body {
        display: flex;
        flex-direction: column;
        flex: 1 1 100%;
        padding: 0px;
        margin: 0px;
       
    }
    
    header {
        position: static;
    }
    
    .site-name {
        margin-left: 20px;
        align-self: center;
        justify-self: start;
        grid-column: 2/2;
        line-height: 10px;
        column-gap: 0px;
    }
    
      
    .banner img {
        object-fit: cover;
        line-height: 10px;
        padding: 0px;
    }
    
    .banner {
        margin: 0px;
    }
    
        .side-col {
            margin-top: 50px;
            grid-column:1/1;
            grid-row: span 4;
        }
    
        .purpose-wrapper {
            margin-top: 0px;
           
        }
    
        .forecast-big-wrapper {
            display: block;
        }
        .forecast-sm-wrapper {
            display: flex;
            
        }
    
        header button {
            display: none;
        }
    
        .join-button-purpose{
            display: none;
        }
       
        .menu {
            display: flex;
        }
    
        main {
            margin-top: 0px;
        }
        
        main nav {
            position: sticky;
            top: 0px;
            left: 0px;
        }
        main nav ul {
            position: static;
            display: flex;
            justify-content: center;
            margin: 0px;
            padding: 0px;
            background-color: #463252;
            border-top: 2px solid gold;
           
        }
        
    
        main nav ul li {
            margin:0px;
            padding: 15px;
        }
        
        main nav ul li a {
            text-decoration: none;
            font-size: 20px;
            color: white;
            padding: 10px;
        }
        
        main nav ul li:hover  {
           border: none;
        }
        
        
        main nav ul li a:hover { 
            color: yellow;
        }
        
        main nav .social-network {
            display: none;
            align-items: flex-start;
            justify-content: flex-start;
            margin-top: 30px;    
        
        }
        
        
        main .grid {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
            margin: 0 auto;
            justify-items: start;
            align-items: end;
            column-gap: 50px;
    
        }
        .side-col {
            display: block;
            grid-column: 1/2;
            grid-row: 1/3;
            margin: 5px;
        }
    
        .purpose-wrapper {
            grid-column: 2/3;
            grid-row: 1;
            margin: 5px;
        }
    
        .local-companies {
           
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            /* grid-template-rows: repeat(aut-fit, minmax(100px, 1fr)); */
            grid-column: 2/3;
            grid-row: 2/3;
            column-gap: 15px;
            margin-left: 10px;
            margin-bottom: 10px;
            box-shadow: 2px 2px 2px 2px;
            padding: 5px;
            justify-self: start;
            /* max-height: 900px; */
        }

        picture img {
            width: 100%;
            height:60%;
            
        }

        .join-button {
            display: block;
        }
    
        .header-social-network img{ 
            width: 30px;
            height: 30px;
            margin-left: 10px;
        }
        
        .header-social-network {
            display: flex;
            align-self: end;
            justify-self: center;
            grid-column: 3/3;
            align-self: end;
        }
        main nav .menu {
            display: flex;
        }
    
        
        footer .spans {
            column-gap: 50px;
            flex-direction: row;
            justify-self: center;
        }
        
    }