
.all-views-wrapper {
   
    float: right;
    max-width: 50%;
    color: black;
    margin-bottom: 5px;
    margin-right:5px;

}

.grid-view {
    max-width: 200px;
}

.list-view {
    max-width:200px;
}

section {
    
    padding: 10px;
    box-shadow: 3px 3px 3px 3px;
    margin: 10px;
    overflow-wrap: break-word;
   
}
section img {
    max-width: 65%;
}


section img {
    max-width: 80%;
    padding:10px;
   
}



.all-views-wrapper button {
    padding-left: 30px;
    padding-right: 30px;
    height: 50px;
    cursor: pointer;
    margin: 5px;
}

.grid-list-views {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr) );
    grid-template-rows: 1fr 1fr;
    clear: right;
    
}  
.enterprise-name {
    text-align: center;
}
