
/* 35em is also 560px when basefont is 16px */
@media only screen and (min-width: 35rem) {

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfixe {
  content: "";
  display: table;
  clear: both;
}

body, main {
  background-color: #EFF0EE;
}

p {
  font-size: 18px;
}

header {
  display: flex;
  flex-direction: column;
  background-color: rgb(135, 206, 235);
}

.note {
  display: block;
  line-height: 1.5px;
  margin: 5px;
  padding: 5px;

}

.motto{
  margin: 5px;
  padding: 5px;
}

.logo-slogan{
  display: flex;
  flex-direction: row;
}

header img {
    margin: 2px;
    padding: 2px;
    width: 100px;
    height: 100px;
  }

.head-div {
  text-align: center;
  height: 100px;
  padding: 5px;
  margin: 0px;
  background-color: red;
}

/* hide the hamburger button for the small 
screen view or mobile vie */
.nicely {
  display: none;
}
 
main nav {
    background-color: black;
    flex-wrap: nowrap;


  }

main nav .togglemenu {
  display: flex;
  
  margin: 0px;
  padding: 5px;
  justify-content: space-around;
} 

main .togglemenu  li {
  display: flex;
  flex: 1 1 auto;
  margin: 0px;
  list-style: none;
}

main nav button:first-child {
  display: none;
}

main nav .togglemenu li a {
  color: #ffea5a;
  text-decoration: none;
}

footer {
  background-color: rgb(135, 206, 235);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  padding: 5px;
  margin: 5px;
}

.placeholder {
  text-align: center;
  margin: 0 auto;
  width: 550px;
  height: 100px;
}

.spand1 {
  text-align-last: right;
  width: 80px;

}

.span2 {
  float: right;
  color: #ffea5a;
  width: 80px;
}


.wesummary {
  width: 200px;
  height: 160px;
  line-height: 8px;
  background-color: #b06bff;
  position: absolute;
  top: 15px;
  left: 15px;
  margin: 0px;
  padding: 5px;
}


.wesummary h3 {
  /* border-top: 2px solid black; */
  text-align: center;
}

.banner {
  display: flex;
  justify-content: center;
  position: relative;

}





.five-forcast{
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.five-day-weather {
  display: flex;
  justify-content: space-evenly;
  margin-left: 5px;
  padding: 5px;
}

}








