
/* 35em is also 560px when basefont is 16px */
@media only screen and (min-width: 35rem) {

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

body, main {
  background-color: #EFF0EE;
}

p {
  font-size: 18px;
}

header {
  display: flex;
  background-color: rgb(135, 206, 235);
}

.note {
  display: block;
  line-height: 1.5px;
  margin: 5px;
  padding: 5px;

}

.motto{
  margin: 5px;
  padding: 5px;
}

header img {
    margin: 2px;
    padding: 2px;
    width: 100px;
    height: 100px;
  }
/* hide the hamburger button for the small 
screen view or mobile vie */
.nicely {
  display: none;
}
  main nav {
    background-color: black;
  }

main nav .togglemenu {
  display: flex;
  margin: 0px;
  padding: 5px;
  justify-content: space-around;
} 

main .togglemenu  li {
  display: flex;
  flex: 1 1 auto;
  padding: 10px;
  margin: 0px;
  list-style: none;
}

main .togglemenu  li:first-child {
  display: none;
}

main nav .togglemenu li a {
  color: #ffea5a;
  text-decoration: none;
}

footer {
  background-color: rgb(135, 206, 235);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  padding: 5px;
  margin: 5px;
}

.placeholder {
  text-align: center;
  margin: 0 auto;
  width: 550px;
  height: 100px;
}

}








