/* 64em is also 1028px when basefont is 16px */
@media only screen and (min-width: 64rem) {

  .clearfix::after {
    content: "";
    display: table;
    clear: both;
  }


  body, main{
  padding: 0px;
  margin: 0px;
  background-color: #EFF0EE ;
}


html {
  margin: 5px;
}

p {
  font-size: 15px;
}

h1 {
  font-size: 45px;
}

.note {
  margin: 5px;
  flex-direction: column;
  line-height: 1.5px;
  padding: 5px;
  align-items: center;
}
.note h3 {
  font-size: 30px;
}

header {
  padding: 0px;
  margin: 0px;
  display: flex;
  
  background-color: rgb(135, 206, 235);
}

main nav {
  margin: 0px;
}

main nav .togglemenu {
  display: flex;
  flex: 1 1 auto;
  background-color: black;
  height: 50px;
  padding: 0px;
  margin: 0px;
  align-items: center;
}

.motto {
  margin-left: 12px;
}

header img {
  margin: 2px;
  padding: 2px;
  width: 100px;
  height: 100px;
}

nav ul li {
  list-style: none;
  display: flex;
  
  justify-content: flex-end;

}

nav ul li a {
  font-size: 20px;
  color: #ffea5e;
  text-decoration: none;

}


footer {
  background-color:rgb(135, 206, 235);
  display: flex;
  justify-content: center;
  align-items: center;
   padding: 5px;
   margin: 5px;
}


/* .hold {
  margin: 10px;
  padding: 10px;
} */




.picture {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3px;
}

.picture img {
  width: 350px;
  height: 300px;
  margin: 0px;
}

}