/* body {

    background-color: greenyellow;
    flex: 1 1 100%;
    flex-wrap: nowrap;
    justify-content: center;


    
}
img{
    width: 300px;
    height: 400px;
    margin: 0 auto;
    transition-duration: 400ms;
    transition-delay: 250ms;
}
img[data-src] {
    filter: blur(20px);

}

picture {
    
    display: flex;
    flex-direction: column;
    margin: 50px;
    padding: 5px;
}

footer #esc, p {
    margin: 0 auto;
}

h1 {
    text-align: center;
} */