
/* 35em is also 560px when basefont is 16px */
@media only screen and (min-width: 35rem) {

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

body, main {
  background-color: #EFF0EE;
}

p {
  font-size: 18px;
  font-family: "Merriweather", "Arimo", serif;
}

h1 {
  font-size: 35px;
}

header {
  display: flex;
  flex-direction: column;
  background-color: rgb(135, 206, 235);
}

/* site name and slogan  */
.note {
  display: block;
  line-height: 1.5px;
  margin: 5px;
  padding: 5px;

}
.note h3 {
  font-size: 25px;
}

/* logo container */
.motto{
  margin: 5px;
  padding: 5px;
}

/* contains the site logo, name, and slogan */
.logo-slogan{
  display: flex;
  flex-direction: row;
}

header img {
    margin: 2px;
    padding: 2px;
    width: 100px;
    height: 100px;
  }

/* Upper most block that displays ads once it is Fridy */
.head-div {
  height: 100px;
  padding: 5px;
  margin: 0px;
  background-color: red;
}
main nav button:first-child {
  display: none;
}

main nav {
  background-color: black;
  margin: 0px;

}

main nav li {
  flex-wrap: nowrap;
}

nav ul li a {
  display: block;
  text-decoration: none;
  font-size: 20px;
  color: #ffea5a;
  padding: 15px;
  margin: 0px;
  border: none;
}


main nav .togglemenu {
display: flex; 
margin: 0px;
padding: 0px;
justify-content: space-evenly;
} 

main  nav .togglemenu li {
display: flex;
flex: 1 1 auto;
padding: 0px;
margin: 0px;
list-style: none;
}


}








